<%- include('../../partials/header.ejs'); %>
<%- include('../../partials/navbar.ejs'); %>
<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h1>Novo Artigo</h1>
        </div>
            <div class="card-body">
                <form method = "POST" action="/articles/save">
                    <input id = 'articles' class = "form-control" type="text" name="title" placeholder="Nome do artigo">
                    <textarea class= 'form-control' name="body"></textarea><br>
                    <label>Categoria</label>
                    <select name="category">
                        <% categories.forEach((category) => { %>
                            <option value="<%= category.id %>"><%= category.title %> </option>
                        <% }) %>
                    </select>
                    <br>
                    <button class="btn btn-success"> cadastrar</button>
                </form>
        </div>  
    </div>
</div>
<script src="/tinymce/tinymce.min.js"></script>
<script>
    
    tinymce.init({
        selector: '#articles',
        
        plugins:[
            'advlinks autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table emoticons'
        ],
        
    })
</script>
<%- include('../../partials/footer.ejs'); %>