<%- include('partials/header.ejs'); %>
<%- include('partials/homeNavbar.ejs'); %>
<body>
    <div class="container">
        <hr>
        <div class="jumbotron">
            <h1 class="display-4">Bem vindo</h1>
            <p class="lead">Simples blog feito por - Lucas </p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
          </div>
        <% articles.forEach(article => { %>
            <hr>
            <div class="card-header">
                <h2><%= article.title.replace(/<[^>]*>/g, '') %></h2>
            </div>
            <div class="card-body">
                <a href="/<%= article.slug %>" class="btn btn-success">Ler Artigo</a>
            </div>
        <% }) %>

        
    </div>
</body>
<%- include('partials/footer.ejs'); %>
